<div data-background-src='/img/map-image.png' class='contact-box lazy-load'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{title}}</h2>
                <h3 class="section-subheading text-muted">{{subTitle}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Naam" ng-model="form.name">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="E-mailadres" ng-model="form.email">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Telefoonnummer" ng-model="form.phoneNumber">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Bericht" ng-model="form.message"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" id="submitButton" class="btn btn-default btn-xl" ng-click="send()">{{sendText}}</button>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12" style="margin-top: 30px;" ng-if="message">
                            <div class="alert alert-{{messageType}}" role="alert">
                                <b ng-if="messageType == 'danger'">Let op.</b> {{message}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>