<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">Wie ben ik?</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="team-member">
				<h4>Bert Versteeg</h4>
				<img src="http://floraliatuinontwerp.nl/Images/Bert%20Versteeg.jpg" class="img-responsive img-circle" alt="">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<p class="large text-muted">
				Vanuit mijn grafische achtergrond heb ik mijn passie voor tuinen vormgegeven door de hoveniersopleiding aan de Tuinbouwvakschool
				te Vught / Boxtel met succes te volgen. Aansluitend heb ik de MBO+ Tuinontwerpersopleiding aan het GroenCollege te Gouda
				gevolgd.</p>
		</div>
	</div>
</div>