// Header

header {
	background-image: url('http://floraliatuinontwerp.nl/Images/Ontwerpen/Wonen%20op%20dijkhoogte/Fotogalerij/1%20-%20fotos/01.jpg');
	background-repeat: none;
	background-attachment: scroll;
	background-position: center top;
	.background-cover;
	text-align: center;
	color: white;
	
	img{
		width: 100%;
	}	
	
	.intro-text {
		position: relative;
		margin-top: 60px;
		margin-bottom: 20px;
		font-family: "Maiandra GD";		
	
		.intro-lead-in {
			position: absolute;
		}
		.intro-heading {
			position: absolute;
		}
	}
}

@media(min-width:768px) {
	header {		
		.intro-text {
			margin-top: 200px;
			margin-bottom: 200px;
		}
	}
}